@model SGlassford_Music_Playlist.Models.ViewModels.SongPlaylistViewModel

@{
    ViewBag.Title = "AddSong";
}

<h2>@ViewBag.Message</h2>


@using (Html.BeginForm())
{
<table class="table">
    <tr>
        <th>Song Name</th>
        <th>Artist Name</th>
    </tr>

    @foreach (var song in Model.Songs)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => song.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => song.Artist)
            </td>
            <td>
                @Html.ActionLink("Add To Playlist","AddSongPost",new { id = song.SongId, secondId = Model.Playlist.PlaylistId })
            </td>
        </tr>

    }
</table>                                                               
}
