@model IEnumerable<SGlassford_Music_Playlist.Models.Song>

@{
    ViewBag.Title = "Home Page";
}

<h1 class="home-font">
    Music Playlist
</h1>
<hr />
<h3>Log in to begin making playlists</h3>
<p>Playlists can be compared and played by clicking on created playlists!</p>